<a href="https://colab.research.google.com/github/daonly/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

<class 'str'>
a f f a
bc bcdef abc abcdef

### slicing
print(s[a:b])하면 str s의 a번째부터 b번째 "이전" item까지를 출력하라는 것.<br> index와 slicing은 str뿐만 아니라 list에도 적용됨.

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [ ]:
len(s) #s의 item 개수를 알려줌. length.

6

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [ ]:
s.upper() #str s의 모든 글자를 대문자화. 얘는 일시적으로 보여줄 뿐이지 변수를 변경하진 X.

'ABCDEF'

In [ ]:
s = ' this is a house built this year.\n' #new line. 줄바꾸기.
s

' this is a house built this year.\n'

s.find(a)는 str s에서 str a가 시작되는 번째를 출력. 왼쪽부터 search. <br> s.rfind(a)는 똑같은데 오른쪽부터 search.

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

s.strip()은 문자열 양 끝의 공백이나 \n 이런 거 다 벗기고 문자열만 깔끔하게 남겨둠.

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

s.split(' ')은 whitespace 기준으로 str을 쪼개버리는 것. 출력은 list.

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

' '.join(a)는 list a의 instances 사이사이에 whitespace를 넣고 glueing하라는 것. 출력은 str.<br> 이때 list의 instances는 다 str이어야만 함!

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

In [7]:
k=['this',123,(1,2,3)]
' '.join(k)

TypeError: ignored

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'