<a href="https://colab.research.google.com/github/daonly/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a: #콜론 빼먹지 말자!
    print(i)

1
2
3
4

range(a)를 쓰면 그냥 0부터 int a-1까지의 정수로 만들어진 list에 대해 조작을 가할 수 있음.<br> for문의 in 뒤에는 뭐 list 직접 넣든지 range 쓰든지 하는 게 일반적.

In [ ]:
x=range(9)
y=list(x)
y

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
x=range(2,4) #2부터 4 이전 것까지를 만들어라.
y=list(x)
y

[2, 3]

In [ ]:
x=range(0,4,2) #0부터 4 이전 것까지 2 간격으로 만들어라.
y=list(x)
y
g=range(3,8,3)
h=list(g)
h

[3, 6]

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):#a의 범위를 벗어나면 error.
    print(a[i])
print(len(a))

1
2
3
4
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

제어문의 두 번째 종류. condition.

In [ ]:
a = 0 #이건 assignment
if a == 0: #이게 진짜 equal sign.
    print(a)
else:
    print(a+1)

0

for문 안에 for문이 오면 어떤 순서로 실행되는지 주의하여 살펴보자. <br> 첫번째 i에 대해 j 한 바퀴 돌고, 두번째 i에 대해 j 한 바퀴 돌고 이런 순서로 진행된다.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

여기서부터 시험에 내기 딱 좋은 코드들이니 혼자 여러 연습해보자!

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2] #요녀석 아주 중요! python 고유의 방식.
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4] #글자수에도 적용 가능!
b

['green', 'blue', 'purple']