<a href="https://colab.research.google.com/github/daonly/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 13; print(type(a))

<class 'int'>

In [1]:
a=13
print(a)
b=22
print(b)
c=31
print(c)

13
22
31

In [2]:
a=13
a
b=22
b
c=31
c

31

변수 명만 입력하면 제일 마지막 output만 내놓음! 그 이전에 변수 여러 개를 써놔도 마지막 변수만 출력.

###--> 다 출력하고 싶으면 print 함수 이용!

In [8]:
a=1
b='love'
c=[1,2,7] #list
d=[1,'2','love']
e=(1,'2','love')
f={'a':165, 'b':172, 'c':185}
type(f)

dict

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [3]:
a = 1.2; a = int(a); print(type(a)); print(a) #실수 a를 강제로 반올림해서 정수화

<class 'int'>
1

In [6]:
a="123"  #single quote를 쓰든 double quote를 쓰든 str이 되지만, single이 더 일반적.
print(type(a))  #str의 quote는 print를 쓰면 생략된 채 출력됨.

<class 'str'>

In [7]:
a = '123'; print(type(a)); print(a[1]) #index는 첫 번째를 0으로 시작함. 0번째로 시작.

<class 'str'>
2

In [ ]:
a = '123';
a = list(a); 
print(type(a)); 
print(a); 
print(a[2])

<class 'list'>
['1', '2', '3']
3

In [ ]:
a = [1,'2', [3, '4']] #list는 뭐든 input으로 받을 수 있음. list조차도.
print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a=[1,2,3]
a[0]=-1
a

[-1, 2, 3]

In [ ]:
a=(1,2,3) #tuple은 list랑 똑같은데 수정이 안 됨. 더 안전한 data.
a[0]=-1
a

TypeError: ignored

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014} #dic은 중괄호 사용.
print(type(a))
print(a["a"]) #얘는 순서 개념이 없으므로 index 대신 key 값 넣음.

<class 'dict'>
apple

In [9]:
a =	{"a": 'apple', "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [12]:
a["a"]='banana' #key assignment도 바꿀 수 있음.
a

{'a': 'banana', 'b': 'orange', 'c': 2014}

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]